body{
    background-color: #833AB4;
    align-items: center;
    display: flex;
    justify-content: center;

}
img{
    border-radius: 85%;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
}