body{
    background-color: #833AB4;
    

}
nav{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    color: white;
    
}

img{
    border-radius: 85%;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
